body {
    background-color: #FEFEE6;
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.vector {
    width: 300px;
    height: 300px;
}

.wrapper {
    display: flex;
    margin-top: 5%;
    margin-bottom: 12%;
    flex-direction: column;
}

.second-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-direction: row;
}

.second-wrapper div h4 {
    font-weight: 700;
    margin-right: 24px;
}

.second-wrapper a {
    margin-right: -100px;
}

.second-wrapper > div {
    margin-left: -100px;
}

.third-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-direction: row;
}


h1 {
    font-weight: 700;
}

button {
    background-color: var(--bone);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5em 0.5em;
}

.button {
    color: var(--navy);
    width: 15em;
    height: 2.9em;
    border: var(--navy) 0.1em solid;
    border-radius: 50px;
    transition: all 0.6s ease;
  }

  .button:hover {
    background-color: var(--orange);
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(10px);
  }

  li {
    list-style-type: disc;
    margin-left: 15px;
  }

.third-wrapper > div {
    margin-left: 100px;
}

.third-wrapper a {
    margin-right: 100px;
}

.footer {
    background-color: var(--navy);
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0;
    justify-content: center;
}

h6 {
    color: #ffffff;
}

h5 {
    color: #ffffff;
}

.first-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.first-container > div > h4 {
    color: var(--orange);
}

