:root {
    --orange: #FF6300;
    --bone: #FEFEE6;
    --navy: #012E41;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: left;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1em;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #333;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

p {
    text-align: center;
}

table {
    width: 55%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.buttons {
    text-align: center;
}

.big-button {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.big-button:hover {
    background-color: #0056b3;
}

.logo {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 300px;
    height: auto;
    padding: 10px;
}

th {
    text-align: center;
}

.right-align {
    float: right;
}

.left-align {
    float: left;
    padding-left: 0;
    margin-left: 0;
}

.footer {
    background-color: #333; 
    padding: 20px 0;
    margin-top: auto;  
}

.footer p {
    margin-bottom: 0;
    color: #fff;
}

.footer-logo {
    display: block; 
    width: 25%;  
    height: auto;
    clear: both;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}


