<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    
</head>
{% if request.endpoint != 'home' %}
<style>
    .logo {
        height: 80px;
        width: 80px;
        margin-right: 10px;
    }
    
    .logo {
        height: 80px;
        width: 80px;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .right-align {
        float: right;
    }
</style>
{% endif %}
<body>
    <nav>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Homepage Logo" class="img-fluid" style="max-width: 50px;">
        </a>
        {% if current_user.is_authenticated %}
        {% if current_user.role_id == 2 %}
        <a href="{{ url_for('dashboard') }}" class="h5">Dashboard</a>
        <a href="{{ url_for('upload') }}" class="h5">Upload Prescription</a>
        <a href="{{ url_for('orders') }}" class="h5">Orders</a>
            <div class="right-align d-flex align-items-center my-auto">
                <span>Welcome <a href="{{ url_for('userdetails') }}">{{ current_user.name }}</a></span> |
                <a href="{{ url_for('support') }}">Support</a> |
                <a href="{{ url_for('logout') }}">Logout</a>
        {% elif current_user.role_id == 1 %}
        <a href="{{ url_for('dashboard') }}" class="h5">Pharmacist Dashboard</a>
        <a href="{{ url_for('pharmacistdash') }}" class="h5">All Orders</a>
            <div class="right-align d-flex align-items-center my-auto">
                <span>Welcome <a href="{{ url_for('userdetails') }}">{{ current_user.name }}</a></span> |
                <a href="{{ url_for('support') }}">Support</a> |
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        {% else %}
            <div class="right-align">
                <a href="{{ url_for('register') }}">Register</a> |
                <a href="{{ url_for('login') }}">Login</a>
            </div>
        {% endif %}
    </nav>
    {% if request.endpoint == 'home' %}
        <div class="wrapper">
            <div class="first-wrapper">
                <h1> Your Dose Delivered, Stat!</h1>
            </div>
            <div class="second-wrapper">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/main-1.svg') }}" alt="pharmacist handing over paperwork" class="vector"></a>
                <div>
                    <h4>Get your drugs at your doorstep</h4>
                    <ul>
                        <li>Get straight delivery to the doorstep</li>
                        <li>We deliver within 24hrs of request</li>
                        <li>We gurantee speedily response</li>
                    </ul>
                    <button class="button">
                        <div class="text">
                            Get Prescription
                        </div>
                        <img src="{{ url_for('static', filename='images/right-arrow.svg') }}" alt="arrow inside button">
                    </button>
                </div>
            </div>
            <div class="third-wrapper">
                <div>
                    <h4>Chat with Pharmacists</h4>
                    <ul>
                        <li>Easily Refill</li>
                        <li>24/7 Chat Box</li>
                        <li>Get Notified</li>
                    </ul>
                    <button class="button">
                        <div class="text">
                            Talk to a Pharmacist
                        </div>
                        <img src="{{ url_for('static', filename='images/right-arrow.svg') }}" alt="">
                    </button>
                </div>
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/main-2.svg') }}" alt="pharmacist handing over paperwork" class="vector"></a>
            </div>
        </div>
    {% else %}
        <div class="header">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Drugs2Door Logo" class="logo"></a>   
            <h1>Drugs2Door!</h1>
        </div>
    {% endif %}
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style="text-align: center; width: 50%; margin: 0 auto;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    {% block content %}{% endblock %}
        <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Privacy Policy</p>
                    <p>Terms of Service</p>
                </div>
                <div class="col-md-4">
                    <p>555 Seymour Street, Vancouver, BC, Canada</p>
                    <p>Phone: (604) 456-7890</p>
                </div>
                <div class="col-md-4">
                    <p>&copy; 2024 Drugs2Door. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
