{% extends "base.html" %}

{% block content %}
<style>
    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        border: none;
        padding: 20px;
        margin-bottom: 100px;
        width: 80%; /* Adjust this value as needed */
        margin: 0 auto; 
    }
    .form-field {
        margin: 10px 0;
    }
    .form-field label {
        font-weight: bold;
    }
    .form-field input {
        width: 100%;
        height: 38px;
        padding: 10px;
        border-radius: 5px;
        border: 0.75px solid #012e41;
        background-color: #Fefee6;
    }
    .form-field input[type="submit"] {
        cursor: pointer;
        background-color: #012e41;
        color: #Fefee6;
        width: 100%;
        font-weight: bold;
    }
    h2 {
        color: #012e41;
        font-weight: bold;
    }
    center-text {
    text-align: center;
    }
    a {
        color: #ff6300;
    }
    p {
        margin-top: 20px;
        font-weight: bold;
        color: #012e41;
    }
</style>


<h2 style="text-align: center;">Sign Up For Free </h2>
<div class="form-container">
    <a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='images/Register-logo.svg') }}" alt="" class="vector"></a>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-field">
            {{ form.name.label }}<br>
            {{ form.name() }}
        </div>
        <div class="form-field">
            {{ form.email.label }}<br>
            {{ form.email() }}
        </div>
        <div class="form-field">
            {{ form.phn.label }}<br>
            {{ form.phn() }}
        </div>
        <div class="form-field">
            {{ form.password.label }}<br>
            {{ form.password() }}
        </div>
        <div class="form-field">
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password() }}
        </div>
        <div class="form-field">
            {{ form.submit() }}
        </div>
    </form>
</div>
<div class = "center-text">
    <p>Already have an account? <a href="{{ url_for('login') }}">Sign In</a></p>
</div>
{% endblock %}
