{% extends "base.html" %}

{% block content %}
<h2>Orders</h2>
<!-- Add your content here -->
<body>
    <link rel="stylesheet" href="../static/css/styles.css">
    <div class="header">
        <h1>Order Tracking</h1>
    </div>
    <div class="container">
        <h2>Track Your Order: <a href="#">P002</a></h2>
        <div class="tracking-info">
            <div>Status: In Transit</div>
            <div>Shipping By: Canada Post</div>
            <div>Tracking ID: <a href="#">TRCKG002</a></div>
            <div>Estimated Delivery Date: May 5th, 2024</div>
        </div>
        <div class="status-bar">
            <div>
                <img src="../image/pills_image.jpg" class="status-image" alt="New Order">
                <p>New Order</p>
            </div>
            <div>
                <img src="" class="status-image" alt="Prescription Approved">
                <p>Prescription Approved</p>
            </div>
            <div>
                <img src="../image/truck_image.jpg" class="status-image" alt="In Transit">
                <p>In Transit</p>
            </div>
            <div>
                <img src="../image/house_image.png" class="status-image" alt="Prescription Delivered">
                <p>Prescription Delivered</p>
            </div>
        </div>        
        <h3>Past History</h3>
        <div class="past-history">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Event</th>
                </tr>
                <tr>
                    <td>2024-05-03, 08:17 AM</td>
                    <td>Prescription uploaded, Order Placed</td>
                </tr>
                <tr>
                    <td>2024-05-03, 10:39 AM</td>
                    <td>Prescription Approved by Shoppers Drugs, Surrey Central</td>
                </tr>
                <tr>
                    <td>2024-05-04, 10:20 AM</td>
                    <td>Order Shipped, Canada Post Tracking Number <a href="#">TRCKG002</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>


{% endblock %}
