{% extends "base.html" %}

{% block content %}
    <div class="header">
        <h1>Tracking for Order {{ order_id }}</h1>
    </div>
    <div class="container">
        <div class="tracking-info text-center">
            <div>Status: In Transit</div>
            <div>Shipping By: Canada Post</div>
            <div>Tracking ID: <a href="#">TRCKG0020019872</a></div>
            <div>Estimated Delivery Date: May 5th, 2024</div>
        </div>
        <div class="mt-5 text-center">
        <h3>History</h3>
    </div>
        <div class="past-history">
            <table class="mb-3">
                <tr>
                    <th>Date</th>
                    <th>Event</th>
                </tr>
                <tr>
                    <td>2024-05-03, 08:17 AM</td>
                    <td>Prescription uploaded, Order Placed</td>
                </tr>
                <tr>
                    <td>2024-05-03, 10:39 AM</td>
                    <td>Prescription Approved by Shoppers Drugs, Surrey Central</td>
                </tr>
                <tr>
                    <td>2024-05-04, 10:20 AM</td>
                    <td>Order Shipped, Canada Post Tracking Number <a href="#">TRCKG0020019872</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

{% endblock %}
